{% extends 'base.html.twig' %}

{#todo: Mettre les titles sur toutes les pages#}

{% block body %}
    <div class="content">
        <div class="subContent">

            <h2>Liste des sorties</h2>

            <ul>
                {% for sortie in sorties %}
                    <li>{{ sortie.name }} - {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</li>

                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}

{% block title %}Accueil{% endblock %}



