{% extends 'base.html.twig' %}
{% block body %}
    <div class="content">
        <h1>TITRE DE LA PAGE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque exercitationem, id necessitatibus nihil officia optio possimus quas repudiandae? Adipisci aperiam commodi corporis dolore ea excepturi minus numquam perspiciatis quasi recusandae?</p>


    </div>
{% endblock %}

{% block title %}Accueil{% endblock %}



