{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}


        {{ form_start(userForm, {'attr': {'class': 'subContent'}} ) }}
        <h1>Modifier mon profil</h1>

        {{ form_widget(userForm) }}
        <button class="btn">Enregistrer</button>
        {{ form_end(userForm) }}



{% endblock %}

