@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --titleColor: #06343a;

   /* --sColor1:#ff9400;
    --sColor2:#ffd200;*/
    --sColor1:#fdb914;
    --sColor2:#fff200;

    /*--grey:#d5d5d5;*/
    --grey:#06343a;

    /*--accent-color: #004894;
    --accent-color2: #007d94;*/

    --accent-color: #0095a3;
    --accent-color2: #19d8ca;

    --s:0.5rem;
    --sm:0.75rem;
    --m:1rem;
    --ml:1.2rem;
    --l:1.4rem;
    --xl:2rem;
    --xxl:3rem;

}

/*   display: flex; */
/*   justify-content: space-between; */
/* } */

/*.montserrat-<uniquifier> {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: <weight>;
                 font-style: normal;
             }*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Montserrat', sans-serif;    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--l);
    font-style: normal;
}

a{
    text-decoration: none;
}


h1, h2, h3, h4{
    font-weight: 100;
    color: #0A2B49;
    margin-bottom: var(--l);
}

header h1{
    margin-bottom: 0;
}

h2{
    font-weight: 100;
}

h3{
   font-weight: 600;
}



header{
    background: linear-gradient(30deg, var(--accent-color),var(--accent-color2));
    /*box-shadow: 0 6px 0 rgba(0, 0, 0, 1);*/
    /*align-items: center;*/
}


.content{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    /*background-color: greenyellow;*/
    text-align: center;
}

header .content {
    display: flex;
    padding: 5px;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    /*padding: 20px 50px;*/
}

.subContent{
    display: inline-block;
    border-radius: 2rem;
    margin: -2rem auto 0 auto;
    padding: 2rem 8rem 2rem 8rem;
    background-color: white;
}

.large{
    padding: 2rem 0;
    width: 100%;
}

.mLarge{
    padding: 2rem 2rem;
    width: 100%;
}


#logo, #logoImg{
    height: 80px;
    /*background-color: red;*/
    /*padding-top: 10px;*/
}

/*nav{
    align-self: flex-end;
    margin-bottom: 1rem;
}*/

nav ul li{
    display: inline-block;
    color: white;
    margin-left: var(--m);
}

nav ul li a{
    display: inline-block;
    color: var(--titleColor);
}

dd{
    margin-left: var(--xxl);
}


dl .flexLine{
    margin-bottom: var(--l);
}
dl .flexLine:last-of-type {
    margin-bottom: var(--xxl);
}

.flash{
    margin-bottom: var(--l);
}

.check{
    color: #25a769;
}

.redCross{
    color: #c33725;
}

header::after {
    content: "";
    display: block;
    min-height:100px;
    background-image: url('/img/cover.jpg');
    background-position: center;
    background-size: cover;
}

.flexLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-flow: wrap;*/
}



/*****************FORMS********************/
input, select, .dropdown-toggle{
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    border: solid 1px var(--grey);
    /*box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4);*/
    background-color: white;
    margin-left: var(--xxl);
    /*margin: 0 1rem;*/
}



form .flexLine{
    margin-bottom: var(--xl);
}

/*form .flexLine:nth-last-child(2){
    margin-bottom: var(--xl);
}*/


.shortInput{
    width: 100px;
}

.rightStraight{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0.1rem;
}

.leftStraight{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0.1rem;
}

.form-error {
    color: red;
    font-size: 0.9em;
}


.userForm ul li{
    color: red;
    font-size: 0.6em;
    font-weight: 400;
    list-style: none;
    margin-left: 0.5rem;
}

/************************************/

.btn{

    padding: 0.5rem 1.2rem;
    color: var(--titleColor);
    border-radius: var(--sm);
    cursor: pointer;
    font-size: var(--ml);
    font-weight: 600;
    /*background: linear-gradient(30deg, var(--accent-color), var(--accent-color2));*/
    background-color: var(--accent-color2);
    border: solid 1px var(--grey);
    transition: filter 0.3s ease;

}

.btn {
    color: white;
    background-color: black;
    border: solid 1px black;
}

.cancelBtn{
    background-color: grey;
    border: solid 1px grey;
    margin-right: var(--m);
}

.btn:hover{
    filter: brightness(1.1);

}

main{
    /*background-color: green;*/
}

.sortieList{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    width:95%;
}

/*main ul li{
    display: inline-block;
    !*padding: var(--l);*!
    border-radius: var(--m);
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 0.2);
    height: 100%;
    text-align: left;
}*/

.sortieHome{
    display: flex;
    flex-direction: column;
    border-radius: var(--m);
    /*box-shadow: 0 2px 2px 2px rgb(0 0 0 / 0.2);*/
    border: solid 1px var(--grey);
    text-align: left;
    height: 100%;
}

.subSubContent{
    width:95%;
    margin: 0 auto;
}
/*main ul li span{
    width: 16%;
}*/


.cardHeader{
    padding: var(--sm);
    border-top-left-radius:var(--m);
    border-top-right-radius:var(--m);
    background-color: var(--accent-color2);
    display: flex;
    justify-content: space-between;
    //height: var(--l);
}
.cardHeader img{
    height: var(--l);
}

.date{
    font-weight: 700;

}

.cardContent{
    padding: var(--sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.cardInfo{
    font-size: 1.2rem;
    flex-grow: 1;
}

.cardContent h3{
    font-size: 1.6rem;
}

.orgaLink{
    font-weight: 600;
    color: var(--accent-color);
}

.orgaLink:hover{
    text-decoration: underline;
}



main ul li .btn{
    margin-top: var(--m);
}

/***********************DETAIL SORTIE****************************/
.details{
    padding: 2rem 2rem;
    width: 100%;
}

.details h2{
    font-weight: 800;
}

.detailInfos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: var(--ml);
    font-weight: 400;
}

.infosSortie{
    text-align: left;
    margin-bottom: var(--xl);
}
.participantsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.participantsList{
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 4rem;
}

.participantsList a{
    font-weight: 600;
    color: var(--accent-color);
}
.participantsList a:hover{
    text-decoration: underline;
}

.participantsList span{
    margin-left: var(--m);
}


/*******************END DETAIL SORTIE****************************/


.dates{
    display: flex;
    flex-direction: row;
}

/*
.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--m);
    !*background-color: red;*!
}
*/

/***************Filter Accueil******************/
.formRow{
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    /*justify-content: space-between;*/
    align-items: center;
}

.formRow > *{
    margin: 0 0.5rem;
}

.filters form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--m);
    /*background-color: red;*/
}

.filters > *{

    margin-bottom: var(--m);
    /*display: inline;*/
}

.filters input, .filters select{
    margin:0 var(--s);
}

.dropdown-multi{
    /*background-color: red;*/
}

.dropdown-toggle{
    cursor: pointer;
    /*margin:0;*/
    /*background-color: red;*/
    margin-left:0;
    /*width: 100%;*/

    /*padding: 0.7rem 1.2rem;*/
    padding: 0.8rem 1.2rem;

    border-radius: 3rem;
    border: solid 1px var(--grey);
    background-color: white;
}
input, select{
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    border: solid 1px var(--grey);
    /*box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4);*/
    background-color: white;
    margin-left: var(--xxl);
    /*margin: 0 1rem;*/
}



.btnSearch{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    width: 50px;
    height: 50px;
}

.selectEtat{
    width: 200px;
}

input[type=checkbox] {
    accent-color: var(--accent-color2);
}



/**************************DROPDOWN MULTI**************************/
.dropdown-multi {
    position: relative;
    display: inline-block;
}



.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    text-align: left;
    padding: 1em;
    margin-top: 0.2em;
    z-index: 1000;
    /*width: 600px;*/
    width: max-content;
    min-width: 100%;
    right: 0;
    left: auto;
    border-bottom-left-radius: var(--s);;
    border-bottom-right-radius: var(--s);;

    /*columns: 2;*/
}

.dropdown-multi.open .dropdown-menu {
    display: block;
}
/*.dropdown-menu label {
    display: block;
    margin-bottom: 0.5em;
}



dropdown-menu label{
    !*display: block;*!
}*/

.checkbox-inline label {
    font-size: 1rem;
    display: inline-block;
    margin: var(--s);
    cursor: pointer;
}

/*.checkbox-inline input,
.checkbox-inline label {
    display: inline-block;
}*/

/**************************END DROPDOWN MULTI**************************/


/***************END Filter Accueil******************/

/**********************FORM CREATION SORTI*************************/

.createSortiForm{
    display: flex;
    justify-content: space-between;
    font-size: var(--l);
}

.taSortieInfo textarea{
    width: 100%;
    margin-top: var(--sm);
    padding: var(--m);
    font-size: var(--l);
    font-family: inherit;
    font-weight: inherit;
}

.formCol input{
    width: 150px;
}

.infoContainer{
        text-align: left;
        margin-bottom: var(--l);
}

#sortie_duree_hour, .duree-hour {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}


#sortie_duree_minute, .duree-minute {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}


/*.formCol input:first-of-type{
    width: 300px;
}*/


/*
.createSortiForm label,
.infosLieu p {
    font-size: var(--l);
    font-weight: 100;
    color: red;
}
*/
#infosLieu p {
    margin-top: 2.9rem;
}

/*.formCol{
    !*width: 45%;*!
    width: fit-content;
}*/
/**********************END FORM CREATION SORTI*********************/

/*.cardContent .btn{
    background: linear-gradient(10deg, var(--sColor1), var(--sColor2));
}*/


/*.accentBtn{
    background: linear-gradient(30deg, var(--accent-color), var(--accent-color2));
    border: solid 1px var(--accent-color);
}

.accentBtn2{
    background: linear-gradient(30deg, var(--accent-color2), var(--accent-color));
    border: solid 1px var(--accent-color);
}*/
