<div class="content">
    <h1 id="logo"><img id="logoImg" src="{{ '/img/logo.png' }}" alt="logo sortir.com"></h1>

    <nav>
        <ul>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon profil</a></li>
            <li><a href="#">Se déconecter</a></li>
        </ul>
    </nav>
</div>

