<div class="content">
    <h1><img id="logo" src="{{ '/img/logo.svg' }}" alt="logo sortir.com"></h1>

    <nav>
        <ul>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon profil</a></li>
            <li><a href="#">Se déconecter</a></li>
        </ul>
    </nav>
</div>
