<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="icon" href="/img/favicon.png">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('js/scripts.js') }}?v={{ date().timestamp }}"></script>
        {% endblock %}

    </head>
    <body>
        <header>
            {% include("_navbar.html.twig") %}
        </header>

        <main class="content">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
