<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-body">
            <!-- Contenu dynamique -->
        </div>
    </div>
</div>