<form name="user" method="post" class="subContent userForm" enctype="multipart/form-data">
    <h1>Modifier mon profil</h1>


    <img class="avatarDetail" src="/img/default-avatar.png" alt="Photo par défaut">

    <div id="user">
        <div class="flexLine"><label for="user_pseudo" class="required">Pseudo :</label><input type="text"
                                                                                               id="user_pseudo"
                                                                                               name="user[pseudo]"
                                                                                               required="required"
                                                                                               value="user1"/></div>
        <div class="flexLine"><label for="user_campus" class="required">Campus :</label><select id="user_campus"
                                                                                                name="user[campus]"
                                                                                                required="required">
            <option value="">Choisissez votre campus</option>
            <option value="29">Nantes</option>
            <option value="30">Rennes</option>
            <option value="31" selected="selected">Quimper</option>
            <option value="32">Niort</option>
        </select></div>
        <div class="flexLine"><label for="user_firstname">Prénom :</label><input type="text" id="user_firstname"
                                                                                 name="user[firstname]" value="Nicole"/>
        </div>
        <div class="flexLine"><label for="user_lastname">Nom :</label><input type="text" id="user_lastname"
                                                                             name="user[lastname]" value="Dubois"/>
        </div>
        <div class="flexLine"><label for="user_profilePicture">Photo de profil :</label><input type="file"
                                                                                               id="user_profilePicture"
                                                                                               name="user[profilePicture]"/>
        </div>
        <div class="flexLine"><label for="user_removePhoto">Supprimer la photo actuelle :</label><input type="checkbox"
                                                                                                        id="user_removePhoto"
                                                                                                        name="user[removePhoto]"
                                                                                                        value="1"/>
        </div>
        <div class="flexLine"><label for="user_phoneNumber">Téléphone</label><input type="text" id="user_phoneNumber"
                                                                                    name="user[phoneNumber]"
                                                                                    placeholder="09 69 39 40 20"
                                                                                    pattern="^\+?[0-9\s\-]{6,15}$"/>
        </div>
        <div class="flexLine"><label for="user_email" class="required">Email :</label><input type="email"
                                                                                             id="user_email"
                                                                                             name="user[email]"
                                                                                             required="required"
                                                                                             value="user1@eni.fr"/>
        </div>
        <div class="flexLine"><label for="user_plainPassword_first">Nouveau mot de passe :</label><input type="password"
                                                                                                         id="user_plainPassword_first"
                                                                                                         name="user[plainPassword][first]"
                                                                                                         autocomplete="new-password"/>
        </div>
        <div class="flexLine"><label for="user_plainPassword_second">Confirmez le mot de passe :</label><input
                type="password" id="user_plainPassword_second" name="user[plainPassword][second]"
                autocomplete="new-password"/></div>
        <input type="hidden" id="user__token" name="user[_token]"
               value="94b371e7264dbf1881c500dee9.mUxNp15biBk35a0zpmPxgpbpTBz_DDOYOvDMzbtxYyA.1zsdwGse4WgBnNVb0DmB7POPJFTMP3joS5S0r9gaIVXKGgX2PR7_WkGd3g"/>
    </div>

    <div class="flexLine">
        <div></div>
        <div>
            <a class="btn cancelBtn" href="/profile/87">Retour</a>
            <button class="btn">Enregistrer</button>
        </div>
    </div>
</form>